@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #636363;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(169, 148, 148, 0.298);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    transition: background-color 0.3s;
    background-color: #555;
}

@layer utilities {
    .backface-hidden {
        backface-visibility: hidden;
        perspective: 1000px;
        transform-style: preserve-3d;
    }
    .rotate-y-180 {
        transform: rotateY(-180deg);
    }
    .rotate-y-0 {
        transform: rotateY(0);
    }
}
